/* Lists */

.lists-container::-webkit-scrollbar {
    height: 0.8rem;
}

/* bottom horizontal */
.white-content .lists-container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1);
    border-top-width: 0;
}

.lists-container::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.8);
    border-top-width: 0;
}

.lists-container {
    display: flex;
    align-items: start;
    padding: 0 0.8rem 0.8rem;
    overflow-x: auto;
    height: calc(100vh - 8.6rem);
}

.white-content .trello.list {
    flex: 0 0 17rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-height: calc(100vh - 11.8rem);
    border-radius: 0.3rem;
    margin-right: 1rem;
}

.trello.list {
    flex: 0 0 17rem;
    display: flex;
    flex-direction: column;
    background-color: #27293d;
    max-height: calc(100vh - 11.8rem);
    border-radius: 0.3rem;
    margin-right: 1rem;
}

.trello.list:last-of-type {
    margin-right: 0;
}

.white-content .trello.list-title {
    font-size: 1rem;
    font-weight: 700;
    color: rgba(0,0,0,0.8);
    padding: 1rem;
}

.trello.list-title {
    font-size: 1rem;
    font-weight: 700;
    color: rgba(255,255,255,0.9);
    padding: 1rem;
}

.trello.list-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 0 0.6rem 0.5rem;
    overflow-y: auto;
}

/* vertical */
.trello.list-items::-webkit-scrollbar {
    width: 0.7rem;
}

.white-content .trello.list-items::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1);
}

.trello.list-items::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.8);
}

.white-content .trello.list-items li {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    background-color: rgba(241, 241, 241, 0.4);
    padding: 0.65rem 0.6rem;
    color: rgba(0,0,0,1);
    border-bottom: 0.1rem solid rgba(241, 241, 241, 0.4);
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    word-wrap: break-word;
    cursor: pointer;
}

.trello.list-items li {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    background-color: rgba(100, 100, 100, 0.2);
    padding: 0.65rem 0.6rem;
    color: rgba(255,255,255,0.8);
    border-bottom: 0.1rem solid rgba(100, 100, 100, 0.2);
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    word-wrap: break-word;
    cursor: pointer;
}

.trello.list-items li:last-of-type {
    margin-bottom: 0;
}

.white-content .trello.list-items li:hover {
    background-color: #eee;
}

.trello.list-items li:hover {
    background-color: rgba(100, 100, 100, 0.8);
}

.trello.list-items a {
    margin-bottom: 0.6rem!important;
}

/* modal */
.modal-dialog {
    max-width: 70%;
}

.white-content .modal-content {
    background-color: #fff;
}

.modal-content {
    background-color: #27293d;
}

.white-content .modal-content .modal-header .title {
    color: rgba(0,0,0,0.9);
}

.modal-content .modal-header .title {
    color: rgba(255,255,255,0.9);
}

.white-content .modal-content .modal-body p {
    color: rgba(0,0,0,0.9);
}

.modal-content .modal-body p {
    color: rgba(255,255,255,0.9);
}

.white-content .modal .modal-header .close:hover {
    color: #000;
}

.modal .modal-header .close:hover {
    color: #fff;
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 1%);
    transform: translate(0, 1%);
}

/* style override */
.timeline.timeline-simple li {
    background-color: inherit!important;
    border-bottom: 0px!important;
    padding: 0 0.6rem!important;
}

.card.card-timeline .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: rgba(255,255,255,0.8);
    left: 50%;
    margin-left: -1.5px
}

.card.card-timeline .timeline > li > .timeline-panel {
    background-color: rgba(49, 51, 77, 0.9);
}

.card.card-timeline .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0!important;
    border-right-width: 14px!important;
    left: -14px!important;
    right: auto!important;
}

.card.card-timeline .timeline > li > .timeline-panel:after {
    border-top: 14px solid transparent!important;
    border-left: 14px solid rgba(49, 51, 77, 0.9);!important;
    border-right: 0 solid rgba(49, 51, 77, 0.9);!important;
    border-bottom: 14px solid transparent!important;
}

.white-content .timeline-body > p {
    color: rgba(0,0,0,0.8);
}

.timeline-body > p {
    color: rgba(255,255,255,0.7);
}

.white-content .timeline-text {
    color: rgba(0,0,0,0.8) !important;
}

.timeline-text {
    color: rgba(255,255,255,0.7) !important;
}