
.headerimg {
  height: 40px;
  margin-bottom: 30px;
  margin-left: 5px;
}

.white-content .divideline {
  border-top: 1px solid #cccccc;
}

.divideline {
  border-top: 1px solid #666666;
}

.thumbnails {
  width: 55px;
  height: 55px;
  margin-left: 5px;
}

.thumbnailstwitter {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}

.thumbdiv {
  min-width: 55px;
  min-height: 55px;
  max-width: 80px;
}

.entrycontent {
  word-break: break-word;
}

.white-content .newslink {
  color: #000000;
}

.newslink {
  color: rgb(255, 255, 255);
}

.newslink:hover {
  color: #1aaaba;
}
.spacer {
  margin-left: 6px;
  margin-right: 14px;
}

.white-content .author {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.author {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.white-content .published {
  color: #666666;
}

.published {
  color: rgb(136, 153, 166);
}

.white-content .foot {
  margin-top: 4px;
  color: #666666;
}

.foot {
  margin-top: 4px;
  color: rgb(136, 153, 166);
}

.breakingNews {
    width: 100%;
    height: 40px;
    background: #27293d;
    position: relative;
    overflow: hidden;
    border: 0.0625rem solid rgba(34, 42, 66, 0.05);
    border-radius: 0.2857rem;
}

.breakingNews > .bn-title {
    width: auto;
    height: 40px;
    display: inline-block;
    position: relative;
}

.breakingNews > .bn-title > h2 {
    display: inline-block;
    margin: 0;
    padding: 0 20px;
    line-height: 40px;
    font-size: 20px;
    color: #FFF;
    height: 40px;
    box-sizing: border-box;
}

.breakingNews > .bn-title > span {
    width: 0;
    position: absolute;
    right: -10px;
    top: 10px;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #d01e1e;
}

.breakingNews > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 210px;
    top: 0;
    right: 40px;
    height: 40px;
    font-size: 16px;
}

.breakingNews > ul > li {
    position: absolute;
    height: 40px;
    width: 100%;
    line-height: 40px;
    display: none;
}

.breakingNews > ul > li > a {
    text-decoration: none;
    color: #ffffff;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
}

.bn-small {
    height: 30px;
}

.bn-small > .bn-title {
    height: 30px;
}

.bn-small > .bn-title > h2 {
    line-height: 30px;
    font-size: 18px;
}

.bn-small > .bn-title > span {
    top: 5px;
}

.bn-small > ul {
    height: 30px;
    left: 200px;
    font-size: 14px;
}

.bn-small > ul > li {
    height: 30px;
    line-height: 30px;
}

.bn-small > .bn-navi {
    height: 30px;
}

.bn-small > .bn-navi > span {
    height: 30px;
}

.bn-darkred {
    border-color: #d01e1e;
}

.bn-darkred > .bn-title {
    background: #d01e1e;
}

.bn-darkred > .bn-title > span {
    border-left-color: #d01e1e;
}

.bn-darkred > ul > li > a > span {
  color: #d01e1e;
}


.bn-darkred > ul > li > a:hover {
    color: #1aaaba;
}

.bn-bordernone {
    border: none;
}

.bn-italic > ul > li > a {
    font-style: italic;
}

.bn-bold > ul > li > a {
    font-weight: bold;
}

.breakingNews > .bn-navi,
.breakingNews > ul > li > a,
.breakingNews > .bn-navi > span {
    transition: .25s linear;
    -moz-transition: .25s linear;
    -webkit-transition: .25s linear;
}
