
.headerimg {
  height: 40px;
  margin-bottom: 30px;
  margin-left: 5px;
}

.white-content .divideline {
  border-top: 1px solid #cccccc;
}

.divideline {
  border-top: 1px solid #666666;
}

.thumbnails {
  width: 55px;
  height: 55px;
  margin-left: 5px;
}

.thumbnailstwitter {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
}

.thumbdiv {
  min-width: 55px;
  min-height: 55px;
  max-width: 80px;
}

.entrycontent {
  word-break: break-word;
}

.white-content .newslink {
  color: #000000;
}

.newslink {
  color: rgb(255, 255, 255);
}

.newslink:hover {
  color: #1aaaba;
}
.spacer {
  margin-left: 6px;
  margin-right: 14px;
}

.white-content .author {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.author {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.white-content .published {
  color: #666666;
}

.published {
  color: rgb(136, 153, 166);
}

.white-content .foot {
  margin-top: 4px;
  color: #666666;
}

.foot {
  margin-top: 4px;
  color: rgb(136, 153, 166);
}
