{% extends 'base.html' %}
{% load static %}
{% load timestamp_to_time %}
{% block extra_head %}
  <link href="{% static 'news/css/news.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}News{% endblock %}
{% block section %}News{% endblock %}
{% block ogtitle %}News{% endblock %}
{% block twittertitle %}News{% endblock %}
{% block content %}

  <div class="card-body">

    <!-- TWITTER -->
    <div class="row">
      <div class="col-12 mb-5">
        <img class="headerimg" src="{% static 'news/img/twitter.png' %}">

        {% for entry in twitter_entries %}
        <div class="row">
          <div class="col-3 thumbdiv">
            {% if entry.thumb %}
              <a class="newslink" href="{{ entry.url }}" target="_blank"><img class="thumbnailstwitter" src="{{ entry.thumb }}"></a>
            {% else %}
              <a class="newslink" href="{{ entry.url }}" target="_blank"><img class="thumbnailstwitter" src="{% static 'news/img/twitterthumb.png' %}"></a>
            {% endif %}
          </div>
          <div class="col-9">
            <div style="margin-bottom: 4px;">
              <span class="author"> {{ entry.author }} </span><span class="published"> at {{ entry.created_at }}</span>
            </div>
            <a class="newslink" href="{{ entry.url }}" target="_blank">{{ entry.content }}</a><br>
            <div class="foot">
              <i class="fas fa-retweet"></i> <span class="spacer">{{ entry.retweet }}</span><i class="fas fa-heart"></i> <span class="spacer">{{ entry.likes }}</span>
            </div>
          </div>
        </div>
        <hr class="divideline">
        {% endfor %}
      </div>
    </div>

    <!-- REDDIT -->
    <div class="row">
      <div class="col-12 mb-5">
        {% if nightmode == True %}
          <img id="reddit" class="headerimg" src="{% static 'news/img/reddit_w.png' %}">
        {% else %}
          <img id="reddit" class="headerimg" src="{% static 'news/img/reddit.png' %}">
        {% endif %}

        {% for entry in reddit_entries %}
        <div class="row">
          <div class="col-3 thumbdiv">
            {% if entry.thumbnail and entry.thumbnail != 'self' %}
              <a class="newslink" href="{{ entry.url }}" target="_blank"><img class="thumbnails" src="{{ entry.thumbnail }}"></a>
            {% else %}
              <a class="newslink" href="{{ entry.url }}" target="_blank"><img class="thumbnails" src="{% static 'news/img/redditthumb.png' %}"></a>
            {% endif %}
          </div>
          <div class="col-9">
            <div style="margin-bottom: 4px;">
              <span class="author"> {{ entry.author }} </span><span class="published"> at {{ entry.created|timestamp_to_time }}</span>
            </div>
            <a class="newslink" href="{{ entry.url }}" target="_blank">{{ entry.title }}</a><br>
            <div class="foot">
              <i class="fas fa-arrow-up"></i> <span class="spacer">{{ entry.score }}</span> <i class="fas fa-comments"></i> <span class="spacer">{{ entry.num_comments }}</span>
            </div>
          </div>
        </div>
        <hr class="divideline">
        {% endfor %}
      </div>
    </div>

    <!-- YouTube -->
    <div class="row">
      <div class="col-12 mb-5">
        {% if nightmode == True %}
          <img id="youtube" class="headerimg" src="{% static 'news/img/youtube_w.png' %}">
        {% else %}
          <img id="youtube" class="headerimg" src="{% static 'news/img/youtube.png' %}">
        {% endif %}

        {% for entry in youtube_entries %}
        <div class="row">
          <div class="col-3 thumbdiv">
            {% if entry.thumb and entry.thumb != 'self' %}
              <a class="newslink" href="https://www.youtube.com/watch?v={{ entry.youtube_id }}" target="_blank"><img class="thumbnails" src="{{ entry.thumb }}"></a>
            {% else %}
              <a class="newslink" href="https://www.youtube.com/watch?v={{ entry.youtube_id }}" target="_blank"><img class="thumbnails" src="{% static 'news/img/youtubethumb.png' %}"></a>
            {% endif %}
          </div>
          <div class="col-9">
            <div style="margin-bottom: 4px;">
              <span class="author"> {{ entry.author }} </span><span class="published"> at {{ entry.published }}</span>
            </div>
            <a class="newslink" href="https://www.youtube.com/watch?v={{ entry.youtube_id }}" target="_blank">{{ entry.title }}</a><br>
            <div class="foot">
              <i class="fas fa-clock"></i><span class="spacer">{{ entry.duration }} mins</span>
            </div>
          </div>
        </div>
        <hr class="divideline">
        {% endfor %}
      </div>
    </div>

    <!-- MEDIUM -->
    <div class="row">
      <div class="col-12 mb-5">
        {% if nightmode == True %}
          <img id="medium" class="headerimg" src="{% static 'news/img/medium_w.png' %}">
        {% else %}
          <img id="medium" class="headerimg" src="{% static 'news/img/medium.png' %}">
        {% endif %}

        {% for entry in medium_entries %}
        <div class="row">
          <div class="col-3 thumbdiv">
            {% if entry.thumb %}
              <a class="newslink" href="{{ entry.link }}" target="_blank"><img class="thumbnails" src="{{ entry.thumb }}"></a>
            {% else %}
              <a class="newslink" href="{{ entry.link }}" target="_blank"><img class="thumbnails" src="{% static 'news/img/mediumthumb.png' %}"></a>
            {% endif %}
          </div>
          <div class="col-9">
            <div style="margin-bottom: 4px;">
              <span class="author"> {{ entry.author }} </span><span class="published"> at {{ entry.published }}</span>
            </div>
            <span class="entrycontent"><a class="newslink" href="{{ entry.link }}" target="_blank">{{ entry.title }}</a></span>
          </div>
        </div>
        <hr class="divideline">
        {% endfor %}
      </div>
    </div>

    <!-- THEICONIST -->
    <div class="row">
      <div class="col-12 mb-5">
        {% if nightmode == True %}
          <img id="theiconist" class="headerimg" src="{% static 'news/img/theiconist_w.png' %}">
        {% else %}
          <img id="theiconist" class="headerimg" src="{% static 'news/img/theiconist.png' %}">
        {% endif %}

        {% for entry in iconist_entries %}
        <div class="row">
          <div class="col-3 thumbdiv">
            {% if entry.thumb %}
              <a class="newslink" href="{{ entry.link }}" target="_blank"><img class="thumbnails" src="{{ entry.thumb }}"></a>
            {% else %}
              <a class="newslink" href="{{ entry.link }}" target="_blank"><img class="thumbnails" src="{% static 'news/img/theiconistthumb.png' %}"></a>
            {% endif %}
          </div>
          <div class="col-9">
            <div style="margin-bottom: 4px;">
              <span class="author"> {{ entry.author }} </span><span class="published"> at {{ entry.published }}</span>
            </div>
            <span class="entrycontent"><a class="newslink" href="{{ entry.link }}" target="_blank">{{ entry.title }}</a></span>
          </div>
        </div>
        <hr class="divideline">
        {% endfor %}
      </div>
    </div>


  </div>

{% endblock %}

{% block pre_extra_js %}
  <script>
  function morning_image(){
    $('#reddit').attr("src", "{% static 'news/img/reddit.png' %}");
    $('#youtube').attr("src", "{% static 'news/img/youtube.png' %}");
    $('#medium').attr("src", "{% static 'news/img/medium.png' %}");
    $('#theiconist').attr("src", "{% static 'news/img/theiconist.png' %}");
  }

  function night_image(){
    $('#reddit').attr("src", "{% static 'news/img/reddit_w.png' %}");
    $('#youtube').attr("src", "{% static 'news/img/youtube_w.png' %}");
    $('#medium').attr("src", "{% static 'news/img/medium_w.png' %}");
    $('#theiconist').attr("src", "{% static 'news/img/theiconist_w.png' %}");
  }
  </script>
{% endblock %}

