{% extends 'base.html' %}
{% load static %}
{% load timestamp_to_time %}
{% block extra_head %}
  <link href="{% static 'news/css/news.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}News{% endblock %}
{% block section %}News{% endblock %}
{% block ogtitle %}News{% endblock %}
{% block twittertitle %}News{% endblock %}
{% block content %}

  <div class="card-body">

    <!-- TWITTER -->
    <div class="row">
      <div class="col-12 mb-5">
        <img class="headerimg" src="{% static 'news/img/twitter.png' %}">

        {% for entry in twitter_entries %}
        <div class="row">
          <div class="col-3 thumbdiv">
            {% if entry.user.profile_image_url_https %}
              <a class="newslink" href="https://twitter.com/{{ entry.user.screen_name }}/status/{{ entry.id }}" target="_blank"><img class="thumbnails" src="{{ entry.user.profile_image_url_https }}"></a>
            {% else %}
              <a class="newslink" href="https://twitter.com/{{ entry.user.screen_name }}/status/{{ entry.id }}" target="_blank"><img class="thumbnails" src="{% static 'news/img/twitterthumb.png' %}"></a>
            {% endif %}
          </div>
          <div class="col-9">
            {{ entry.user.screen_name }} at {{ entry.created_at }}<br>
            <a class="newslink" href="https://twitter.com/{{ entry.user.screen_name }}/status/{{ entry.id }}" target="_blank">{{ entry.text }}</a><br>
            <i class="fas fa-retweet"></i> <span class="spacer">{{ entry.retweet_count }}</span><i class="fas fa-heart"></i> <span class="spacer">{{ entry.favorite_count }}</span>
          </div>
        </div>
        <hr class="divideline">
        {% endfor %}
      </div>
    </div>

    <!-- REDDIT -->
    <div class="row">
      <div class="col-12 mb-5">
        {% if nightmode == True %}
          <img id="reddit" class="headerimg" src="{% static 'news/img/reddit_w.png' %}">
        {% else %}
          <img id="reddit" class="headerimg" src="{% static 'news/img/reddit.png' %}">
        {% endif %}

        {% for entry in reddit_entries %}
        <div class="row">
          <div class="col-3 thumbdiv">
            {% if entry.thumbnail and entry.thumbnail != 'self' %}
              <a class="newslink" href="{{ entry.link }}" target="_blank"><img class="thumbnails" src="{{ entry.thumbnail }}"></a>
            {% else %}
              <a class="newslink" href="{{ entry.link }}" target="_blank"><img class="thumbnails" src="{% static 'news/img/redditthumb.png' %}"></a>
            {% endif %}
          </div>
          <div class="col-9">
            {{ entry.author }} at {{ entry.created|timestamp_to_time }}<br>
            <a class="newslink" href="{{ entry.url }}" target="_blank">{{ entry.title }}</a><br>
            <i class="fas fa-arrow-up"></i> <span class="spacer">{{ entry.score }}</span> <i class="fas fa-comments"></i> <span class="spacer">{{ entry.num_comments }}</span>
          </div>
        </div>
        <hr class="divideline">
        {% endfor %}
      </div>
    </div>



    <!-- MEDIUM
    <div class="row">
      <div class="col-12 mb-5">
        {% if nightmode == True %}
          <img id="medium" class="headerimg" src="{% static 'news/img/medium_w.png' %}">
        {% else %}
          <img id="medium" class="headerimg" src="{% static 'news/img/medium.png' %}">
        {% endif %}

        {% for entry in medium_entries %}
        <div class="row">
          <div class="col-3 thumbdiv">
            {% if entry.thumb %}
              <a class="newslink" href="{{ entry.link }}" target="_blank"><img class="thumbnails" src="{{ entry.thumb }}"></a>
            {% else %}
              <a class="newslink" href="{{ entry.link }}" target="_blank"><img class="thumbnails" src="{% static 'news/img/mediumthumb.png' %}"></a>
            {% endif %}
          </div>
          <div class="col-9">
            <span class="entrycontent"><a class="newslink" href="{{ entry.link }}" target="_blank">{{ entry.title }}</a></span>
          </div>
        </div>
        <hr class="divideline">
        {% endfor %}
      </div>
    </div>
    -->

    <!-- THEICONIST
    <div class="row">
      <div class="col-12 mb-5">
        {% if nightmode == True %}
          <img id="theiconist" class="headerimg" src="{% static 'news/img/theiconist_w.png' %}">
        {% else %}
          <img id="theiconist" class="headerimg" src="{% static 'news/img/theiconist.png' %}">
        {% endif %}

        {% for entry in theiconist_entries %}
        <div class="row">
          <div class="col-3 thumbdiv">
            {% if entry.thumb %}
              <a class="newslink" href="{{ entry.link }}" target="_blank"><img class="thumbnails" src="{{ entry.thumb }}"></a>
            {% else %}
              <a class="newslink" href="{{ entry.link }}" target="_blank"><img class="thumbnails" src="{% static 'news/img/theiconistthumb.png' %}"></a>
            {% endif %}
          </div>
          <div class="col-9">
            <span class="entrycontent"><a class="newslink" href="{{ entry.link }}" target="_blank">{{ entry.title }}</a></span>
          </div>
        </div>
        <hr class="divideline">
        {% endfor %}
      </div>
    </div>
    -->

  </div>

{% endblock %}

{% block pre_extra_js %}
  <script>
  function morning_image(){
    $('#reddit').attr("src", "{% static 'news/img/reddit.png' %}");
    //$('#medium').attr("src", "{% static 'news/img/medium.png' %}");
    //$('#theiconist').attr("src", "{% static 'news/img/theiconist.png' %}");
  }

  function night_image(){
    $('#reddit').attr("src", "{% static 'news/img/reddit_w.png' %}");
    //$('#medium').attr("src", "{% static 'news/img/medium_w.png' %}");
    //$('#theiconist').attr("src", "{% static 'news/img/theiconist_w.png' %}");
  }
  </script>
{% endblock %}

