{% extends 'base.html' %}
{% load static i18n %}
{% block extra_head %}
  <link href="{% static 'iconsensus/css/iconsensus.css' %}" rel="stylesheet"/>
  <style type="text/css">
    .white-content .table-responsive table tbody tr:hover {
        background-color: inherit!important;
        opacity: 1.0!important;
    }

    .table-responsive table tbody tr:hover {
        background-color: inherit!important;
        opacity: 1.0!important;
    }
    .card .card-body {
        padding: 0px!important;
    }
  </style>
{% endblock %}
{% block title %}P-Rep Reports{% endblock %}
{% block twittertitle %}P-Rep Reports{% endblock %}
{% block ogtitle %}P-Rep Reports{% endblock %}
{% block section %}P-Rep Reports{% endblock %}
{% block content %}




<div class="content">
  <div class="row">

    <!-- PROJECT INFO -->
    <div class="col-lg-6 col-sm-6 text-center">
      <div class="card card-tasks text-left">
        <div class="card-header">
          <h3 class="title d-inline">{{ project.name }}</h3>
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <p class="title">Team</p>
                    <p>{{ getPRep.name }}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="title">Category</p>
                    <p>{{ project.get_category_display }}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="title">Description</p>
                    <p>{{ project.description }}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="title">Dates</p>
                    <p>{{ project.start_date }} ~ {{ project.end_date }}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="title">Progress</p>
                    <p>{{ project.get_progress_display }}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="title">Status</p>
                    <p>{{ project.get_status_display }}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- TIMELINE -->
    <div class="col-lg-6 col-sm-6">
      <div class="card card-timeline card-plain">
        <div class="card-body">
          <ul class="timeline timeline-simple">

            <li class="timeline-inverted">
              <div class="timeline-badge detail">
                <i class="fas fa-file-alt"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-detail">Details</span>
                </div>
                <div class="timeline-body">
                  <p class="timeline-text">{{ project.details }}</p>
                </div>
              </div>
            </li>


            {% if project.status > 0 %}
            <li class="timeline-inverted">
              <div class="timeline-badge update">
                <i class="fas fa-sync-alt"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-update">{% trans 'Updates' %}</span>
                </div>
                <div class="timeline-body">
                  <p class="timeline-text">{{ project.updates }}</p>
                </div>
              </div>
            </li>
            {% endif %}

            {% if project.status > 1 %}
            <li class="timeline-inverted">
              <div class="timeline-badge delivery">
                <i class="fas fa-truck"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-delivery">{% trans 'Final Update' %}</span>
                </div>
                <div class="timeline-body">
                  <p class="timeline-text">{{ project.final_update }}</p>
                </div>
              </div>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a href="{% url 'prep_projects' project.prep_address %}" class="btn btn-fill btn-primary">Back to Project</a>
    </div>
  </div>
</div>







<!--
<div>
  <h2 class="mb-2">{{ project.name }}</h2>

  <div class="row pt-3">

    <div class="col-md-8">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="numbers">
                <p class="card-category">{% trans 'P-Rep Name' %}</p>
                <h3 class="card-title">{{ getPRep.name }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="numbers">
                <p class="card-category">{% trans 'Category' %}</p>
                <h3 class="card-title">{{ project.get_category_display }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="numbers">
                <p class="card-category">{% trans 'Description' %}</p>
                <h3 class="card-title">{{ project.description }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="numbers">
                <p class="card-category">{% trans 'Start Date' %}</p>
                <h3 class="card-title">{{ project.start_date }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="numbers">
                <p class="card-category">{% trans 'End Date' %}</p>
                <h3 class="card-title">{{ project.end_date }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="numbers">
                <p class="card-category">{% trans 'Progress' %}</p>
                <h3 class="card-title">{{ project.get_progress_display }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="numbers">
                <p class="card-category">{% trans 'Status' %}</p>
                <h3 class="card-title">{{ project.get_status_display }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="numbers">
                <p class="card-category">{% trans 'Details' %}</p>
                <h4 class="card-title">{{ project.details }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% if project.status > 0 %}
    <div class="row">

      <div class="col-md-12">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="numbers">
                  <p class="card-category">{% trans 'Updates' %}</p>
                  <h4 class="card-title">{{ project.updates }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  {% endif %}


  {% if project.status > 1 %}
    <div class="row">

      <div class="col-md-12">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="numbers">
                  <p class="card-category">{% trans 'Final Update' %}</p>
                  <h4 class="card-title">{{ project.final_update }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  {% endif %}

  <div class="row">
    <div class="col-12 text-center">
      <a href="{% url 'prep_projects' project.prep_address %}" class="btn btn-fill btn-primary">Back to Project</a>
    </div>
  </div>
</div>
-->

{% endblock %}

<!-- extra javascript -->
{% block extra_js %}
{% endblock %}