{% extends 'base.html' %}
{% load static i18n %}
{% block extra_head %}
  <link href="{% static 'iconsensus/css/iconsensus.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}P-Rep Reports{% endblock %}
{% block twittertitle %}P-Rep Reports{% endblock %}
{% block ogtitle %}P-Rep Reports{% endblock %}
{% block section %}P-Rep Reports{% endblock %}
{% block content %}

  <main>

    <section>
      P-Rep Reports Page
    </section>

  </main>

{% endblock %}

<!-- extra javascript -->
{% block extra_js %}
{% endblock %}