{% extends 'base.html' %}
{% load static i18n %}
{% load humanize %}
{% block extra_head %}
  <link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet"/>
  <script>
      // Daily Tx
      var chartlabels = {{ targetDates|safe }};
      var chartdata = {{ txCounts }};
      // Top 20 Wallets
      var ret20 = {{ ret20|safe }};
      // Wallet Count
      var selectDates = {{ selectDates|safe }};
      var balanceCounts = {{ balanceCounts }};
      var totalCounts = {{ totalCounts }};
      // Reward Rate
      var annual_real_yield_list = {{ annual_real_yield_list }};
      var annual_reward_list = {{ annual_reward_list }};
      var annual_inflation_list = {{ annual_inflation_list }};
      var reward_rate_dates_list = {{ reward_rate_dates_list|safe }};
      //Unstaking
      var total_staked = {{ total_staked }};
      var total_supply = {{ total_supply }};
  </script>
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block ogtitle %}Dashboard{% endblock %}
{% block twittertitle %}Dashboard{% endblock %}
{% block section %}Dashboard{% endblock %}
{% block content %}
  {% load mathfilters %}

  <!-- Daily transactions -->
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h2 class="card-title">{% trans 'Daily Transactions' %}</h2>
              <h5>24H Transactions: {{ transactions_24h|intcomma }}
                <span class="spacing">&vert;</span> All Transactions: {{ transactions_all|intcomma }}</h5>
            </div>
            <!-- Sort Buttons -->
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-primary btn-simple" id="0">
                  <input type="radio" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">7D</span>
                  <span class="d-block d-sm-none">
                    7D
                  </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">14D</span>
                  <span class="d-block d-sm-none">
                    14D
                  </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple active" id="2">
                  <input type="radio" class="d-none" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">30D</span>
                  <span class="d-block d-sm-none">
                    30D
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="dailyTx"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Info -->
  <div class="row">
    <!-- Market Cap -->
    <div class="col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="info-icon text-center dollar">
                <i class="fas fa-dollar-sign"></i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">{% trans 'Market Cap (USD)' %}</p>
                <h3 class="card-title">{{ marketcap|floatformat:0|intcomma }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Circulating Supply -->
    <div class="col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="info-icon text-center icon-primary">
                <img src="{% static 'dashboard/img/ICX_logo.png' %}" style="width: 24px; height: 24px; margin-top: 13px;">
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">{% trans 'Circulating Supply' %}</p>
                <h3 class="card-title">{{ circulating_supply|floatformat:0|intcomma }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Total Supply -->
    <div class="col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="info-icon text-center icon-primary">
                <img src="{% static 'dashboard/img/ICX_logo.png' %}" style="width: 24px; height: 24px; margin-top: 13px;">
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">{% trans 'Total Supply' %}</p>
                <h3 class="card-title">{{ total_supply|floatformat:0|intcomma }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Public Treasury
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="info-icon text-center dollargreen">
                <i class="fas fa-dollar-sign"></i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">{% trans 'Public Treasury' %}&nbsp; <i class="fas fa-info-circle tip" data-toggle="tooltip" title="Unclaimed ICX from additional issuance."></i></p>
                <h3 class="card-title">{{ public_treasury|floatformat:0|intcomma }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>

  <!-- RR & WC -->
  <div class="row">
    <!-- Reward Rate -->
    <div class="col-lg-6">
      <div class="card card-chart">

        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h2 class="card-title" style="margin-bottom: 0px;">{% trans 'Real Yield' %}</h2>
              <h5 class="card-category">Reward Rate - Inflation Rate</h5>
            </div>
            <!-- Sort Buttons -->
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-primary btn-simple" id="rr0">
                  <input type="radio" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">7D</span>
                  <span class="d-block d-sm-none">
                    7D
                  </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="rr1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">14D</span>
                  <span class="d-block d-sm-none">
                    14D
                  </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple active" id="rr2">
                  <input type="radio" class="d-none" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">All</span>
                  <span class="d-block d-sm-none">
                    All
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart-area">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <canvas id="RewardRate" class="chartjs-render-monitor" style="display: block;"></canvas>
          </div>
        </div>

      </div>
    </div>

    <!-- Wallet Count -->
    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h2 class="card-title" style="margin-bottom: 0px;">{% trans 'Wallet Count' %}</h2>
              <h5 class="card-category">Cumulative data</h5>
            </div>
            <!-- Sort Buttons -->
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-primary btn-simple" id="wc0">
                  <input type="radio" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">7D</span>
                  <span class="d-block d-sm-none">
                    7D
                  </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple" id="wc1">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">14D</span>
                  <span class="d-block d-sm-none">
                    14D
                  </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple active" id="wc2">
                  <input type="radio" class="d-none" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">All</span>
                  <span class="d-block d-sm-none">
                    All
                  </span>
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="card-body">
          <div class="chart-area">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <canvas id="WalletCountChart" class="chartjs-render-monitor" style="display: block;"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Top Wallets -->
  <div class="row">
    <div class="col-md-12 ml-auto">
      <div class="card card-chart card-chart-pie">
        <div class="card-header">
          <h2 class="card-title">ICX Holder Chart</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="chart-area">
                <div id="top20wallets"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Governance Info -->
  <div class="row">

    <div class="col-lg-3">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="info-icon text-center icon-primary">
                <i class="fas fa-level-down-alt incard"></i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">{% trans 'Total Staked' %} &nbsp;<i class="fas fa-info-circle tip" data-toggle="tooltip" title="Total staked rate on the ICON Network."></i></p>
                <h3 class="card-title">{{ total_staked_percent }}%</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="info-icon text-center icon-primary">
                <i class="fas fa-check incard"></i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">{% trans 'Network Delegation' %} &nbsp;<i class="fas fa-info-circle tip" data-toggle="tooltip" title="Total delegation rate on the ICON Network."></i></p>
                <h3 class="card-title">{{ total_voted_percent }}%</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="info-icon text-center dollargreen">
                <i class="fas fa-dollar-sign incard"></i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">{% trans 'Public Treasury' %} &nbsp;<i class="fas fa-info-circle tip" data-toggle="tooltip" title="Unclaimed ICX from additional issuance."></i></p>
                <h3 class="card-title">{{ public_treasury|intcomma }} ICX</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Unstaking Period -->
    <div class="col-lg-3">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="info-icon text-center clock">
                <i class="fas fa-clock"></i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">{% trans 'Unstaking Period' %}&nbsp; <i class="fas fa-info-circle tip" data-toggle="tooltip" title="Number of days required to convert a Staked ICX to a liquid ICX on the ICON Network."></i></p>
                <h3 class="card-title"><span id="unstaking_period"></span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block pre_extra_js %}
  <script>
      function morning_image() {
      }

      function night_image() {
      }
  </script>
{% endblock %}

{% block extra_js %}

  <script src="{% static 'dashboard/js/chart.bundle.min.js' %}"></script>
  <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
  <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>

  <script>
      function unstaking_period(){
        var i_max = 20, i_min = 5, i_point = 0.7;
        var i_period = ((i_max-i_min)/(i_point)**2)*(total_staked/total_supply-i_point)**2+i_min;
        return i_period.toFixed(1);
      }

      $.endlessPaginate({
          contentSelector: '.endless_content_wrapper'
      });
  </script>

  <script>
      $(document).ready(function () {
          charts.initDashboardPageCharts(chartlabels, chartdata);

          charts.initWalletCharts(ret20);

          charts.initWalletCountChart(selectDates, balanceCounts, totalCounts);

          charts.initRewardRateChart(annual_inflation_list, annual_reward_list, annual_real_yield_list, reward_rate_dates_list);

          $('[data-toggle="tooltip"]').tooltip();

          $('#unstaking_period').text(unstaking_period()+" Days");
      });
  </script>

{% endblock %}